body {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

#drawing-board {
    background-color: lightcoral;
    width: 900px;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#sketch-pad {
    width: 720px;
    height: 720px;
    background-color: #fff;
    border: 1px solid black;
    display: grid;
    border: 5px ridge black;
}

.square {
    background-color: inherit;
}
