@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');

body {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: 700;
    background-color: #78cccb;
}

#drawing-board {
    background-color: lightcoral;
    width: 900px;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 3%;
    font-family: 'Space Grotesk', sans-serif;
}
h1 {
    font-family: "Palette Mosaic", cursive;
    font-size: 48px;
    color: lightcoral;
}

#sketch-pad {
    width: 640px;
    height: 640px;
    background-color: #fff;
    border: 1px solid black;
    display: grid;
    border: 5px ridge black;
}

#pen-setting {
    display: flex;
    text-align: center;
    align-items: baseline;
    justify-content: flex-start;
}

#pen-setting * {
    margin-right: 5px;
}

#other-settings {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#size-output {
    width: 50px;
}

#other-settings * {
    margin-right: 5px;
}

.square {
    background-color: inherit;
}

.button {
    background-color: white;
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

/* .button:focus{
    background-color: #4caf50;
    color: white;
} */

.button-click{
    background-color: #4caf50;
    color: white;
}