body {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

#drawing-board {
    background-color: lightcoral;
    width: 900px;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#sketch-pad {
    width: 720px;
    height: 720px;
    background-color: #fff;
    border: 1px solid black;
    display: grid;
    border: 5px ridge black;
}

.square {
    background-color: inherit;
}

.button {
    background-color: white;
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:focus{
    background-color: #4caf50;
    color: white;
}